<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <%- include("../partials/nav.ejs") %>
    <div class="container my-4 px-3">
      <div class="card shadow">
        <h1 class="text-center mt-4">Contact Us</h1>
        <div class="card-body mt-2 px-4"></div>
      </div>
    </div>
  </body>
</html>
