<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <%- include("../partials/nav.ejs") %>
    <div>
      <h1 class="col text-center">Welcome to Blog Master</h1>
      <p class="container">
        This is a blogging website (Blog Master) Through which every user can
        read and write blogs ....... Every user can view the all blogs page
        where the blogs that are currently available on the website are
        displayed. Blog view contains the blog details Blog Title Blog
        Description Author Name and Blog created date No.of Claps Tags (
        keywords )The Blog detailed view contains every detail of the blog. When
        the user selects a particular blog ,the blog opens in a big view and
        shows the complete blog. ( The title , description, author details, body
        etc.). The user can upvote the blog if he likes and can save it by
        adding to bookmarks.Here all the blogs created by the user are
        displayed. If the user wants to create another blog, he can start
        writing by clicking on the “new blog” option. The user have to provide a
        suitable title, description along with the content of his blog, the user
        can also give relatable tags with which the blog can be searched,
        finally he can submit the blog. The blog then gets published and it will
        be available for everyone to read.This view consists of the details
        which were taken while signing up by the user. He can edit his personal
        info and upload a profile picture.
      </p>
    </div>
  </body>
</html>
